body {
  /* min-height: 100vh; */
  position: relative;
  /* margin: 0; */
  padding-bottom: 100px;
  box-sizing: border-box;
}

input[type="range"] {
  /* position: absolute; */
  /* top: 40%; */
  /* transform: rotate(270deg); */
}

.horiCont {
  white-space: nowrap;
  overflow-x: scroll;
}

.rangCont {
  display: inline-block;
  white-space: normal;
  text-align: center;
}

.plotCont {
  display: inline-flex;
}

@media (max-width: 768px) {
  .upload-area h2 {
    font-size: 20px;
  }
}
