<html>

<head>
    <title>Activation Explorer</title>

    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='/script.js') }}"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.2.0.min.js"></script>
    <!-- <script src="{{ url_for('static', path='/plotly-2.2.0.min.js') }}"> </script> -->

</head>

<body>


    <hr>
    <h3>input data</h3>
    <div id="sampleId"></div>
    <div class="horiCont">
        <div id="dataInputs"></div>
    </div>

    <hr>

    <h3> label </h3>
    <div class="horiCont">
        <div id="dataLabels"></div>
    </div>

    <hr>


    <br>

    <div id="activationsResult">
        <div id="activations"></div>
    </div>

    <!-- <div class="col-12">
        <div class="colorpalette">
        </div>
    </div> -->

</body>

</html>